body {
	font-family: "Segoe UI", "Helvetica", sans-serif;
    font-size: 20px;
}

input:focus {
    outline:none;
}

#pageContainer {
    display: flex;
    justify-content: center;
}

#loginContainer {
    display: inline-block;
    margin: 30px;
    border-radius: 3px;
    padding: 30px;
}

input {
    font-size: 20px;
}

input:focus {
    outline:none;
}

input[type=text] {
    width: 160px;
    background-color: white;
    border: none;
    border-bottom: 2px solid #DCDCDC;
    border-radius: 2px;
}
input[type=password] {
    width: 160px;
    background-color: white;
    border: none;
    border-bottom: 2px solid #DCDCDC;
    border-radius: 2px;
}

input[type=submit] {
    font-size: 16px;
}

#topContainer {
    display: flex;
}

.subContainer {
    display: flex;
    flex-direction: column;
}

.subContainer > div {
    margin-bottom: 10px;
}

.textContainer {
    width: 110px;
}

.inputContainer {
    width: 160px;
}

.submitContainer {
    margin-top: 10px;
    align-self: flex-end;
}
