.ui-tooltip {
    width: 300px;
    border:1px solid #CDCDCD;
    background-color: white;
    padding:5px;
    box-shadow: 3px 3px 2px #CDCDCD;
}

.pivotDiv {
    font-family: "Segoe UI", "Helvetica", sans-serif;
}

.queryBuilder {
    display: flex;
    flex-direction: column;
}

.queryBuilder__listOfAllFields {
    overflow: auto;
    height: 170px;
}

.queryBuilder__horizContainer {
    display: flex;
}

.queryBuilder__child {
    padding: 10px;
    margin-right: 5px;
}

.queryBuilder__child--fields {
     min-width: 300px; 
}

.queryBuilder__child--notSelectable {
    cursor: default;
}

.queryBuilder__spacer {
    margin-top: 10px;
    border-top: 1px dashed #CDCDCD;
}

.queryBuilder__spinner {
    animation-duration: 20s;
    animation-name: spinnerLoading;
    color: red;
}

@keyframes spinnerLoading {
    from {
        color: #f0ad4e
    }

    to {
        color: red;
    }
}

.queryBuilder--alignInHoriz {
    display:flex;
    align-items: center;
}

.queryBuilder__fieldListItemContainer {
    display: flex;
}

.queryBuilder__bucketIndicator {
    width: 20px;
}

.queryBuilder--marginTop {
    margin-top: 10px;
}

.queryBuilder--marginLeft {
    margin-left: 10px;
}

.queryBuilder--headerText {
    font-variant: small-caps;
}

.sortingBucket__fieldContainer {
    margin-bottom: 10px;
    min-height: 30px;
}

.sortingBucket--bold {
    font-weight: bold;
}


ul {
    list-style: none;
    padding-left: 0px;
}

.sortableList {
    padding: 5px 0px;
    min-height: 1.5em;
    margin-bottom: 0px;
}

.selectionPaneShowHide {
    width: 260px;
    text-align: center;
    border: 1px solid #CDCDCD;
    padding: 3px;
    margin-left: 10px;
}

.pivot__errorBanner {
    color: orangered;
    margin-bottom: 30px;
}


/*INDIVIDUAL FIELD ITEMS*/

.additionalUI {
    margin-left: 5px;
    font-size: 0.75em;
}

input[type=text] {
    line-height: 10px;
    width: 80px;
}

.context {
    position:absolute;
      align-items: flex-start;
}

.context__background {
    z-index:1000;
    border:1px solid #CDCDCD;
    background-color: white;
    padding:5px;
    box-shadow: 3px 3px 2px #CDCDCD;
}

.context__sideby {
  display: flex;
  width: 100px;
}

.context__sideby > div {
  margin-right: 10px;
}

.context__aggregatorItem {
    border-radius: 2px;
    padding: 2px;
}

.context__aggregatorItem--selected {
    background-color: #CDCDCD;
}

.context__annotation {
    font-size: 0.75em;
    font-style: italic;
}

/*filter context menu*/
.context__filter {
  padding:0px;
  display:inline-flex;
  flex-direction: column;
}

.context__filterInput {
  align-items: center;
  display:flex;
  padding: 5px;
}

.context__filterInput > span {
  margin: 0px 3px;
}

.errorBanner {
    color: orangered;
    margin-bottom: 30px;
}

.ui-widget-overlay {
    opacity: 0.5;
    height: 100000%;
    width: 100000%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    background-color: black;
}

.loadMenu__ui-dialog {
    z-index: 1002;
    background-color: white;
    max-width: 75%;
}

.loadMenu {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.loadMenu td {
    cursor: pointer;
    padding: 5px;
}

.loadMenu th {
    padding: 5px;
    font-size: 1.15em;
    background-color: #e6EEEE;
    border: 1px solid #CDDCCD;
}

.loadMenu tr {
    border: 1px solid #CDDCCD;
}

.loadMenu__ui-dialog-titlebar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.loadMenu__ui-dialog-title {
    font-size: 1.25em;
}
.loadMenu__ui-dialog-close:after {
    font-family: FontAwesome;
    content: "\F00D";
}
.loadMenu__ui-dialog-close {
    outline: none;
}

.fieldList__item--inBucket {
    position: relative;
}

.pivotHeaderCell {
    position: relative;
}

.closeButton {
    position: absolute;
    right: 0px;
    top: 0px;
    width: auto;
    height: auto;
    background-color: white;
}

.toolbar__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
}

.toolbar__buttonLabel {
    margin-top: 5px;
    font-size: 1rem;
}

.toolbar__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    padding-bottom: 5px;
    border-right: 1px solid #CDCDCD;
}

.toolbar__sectionLabel {
    font-size: 1.25rem;
    margin-top: 10px;
    opacity: 0.75;
}

.toolbar__sectionButtons {
    display: flex;
    align-items: center;
}

.toolbar__dummy {
    height: 125px;
}

.toolbar {
    z-index: 999;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    background-color: #fbfbfb;
    padding-bottom: 5px;
    border-bottom: 1px solid #CDCDCD;
}

.toolbar__sectionButtons button:not(:first-child) {
    margin-left: 5px;
}

.selectionContainer {
    background-color: #fbfbfb;
    padding-top: 10px;
    padding-right: 5px;
    border-right: 1px solid #CDCDCD;
    padding-left: 5px;
}

.btn-default {
    background-color: #fbfbfb;
}

select {
    background-color: #fbfbfb;
}

.selectionContainer__title {
    font-size: 2.5rem;
    padding-bottom: 10px;
    border-bottom: 1px dotted #CDCDCD
}

.selectionContainer__section {
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #CDCDCD
}

.selectionContainer__sectionLabel {
    font-size: 1.25rem;
    margin-top: 10px;
    opacity: 0.75;
}

.pivotContainer {
    padding-top: 10px;
}

.pivotContainer__titleContainer {
    display:flex;
    align-items: baseline;
    justify-content: flex-start;
    padding-bottom: 10px;
    border-bottom: 1px dotted #CDCDCD
}

.pivotContainer__titleText {
    font-size: 2.5rem;
}

.pivotContainer__titleModelDescription {
    opacity: 0.75;
    margin-left: 5px;
}

.table__colHeader {
    vertical-align: middle !important;
    text-align: center;
    position: relative;
}

.table__rowHeader {
    vertical-align: middle !important;
    position: relative;
}

.table__rowLabel {
    vertical-align: middle !important;
    font-size: 0.6em;
    text-align: left;
}

.table__columnLabel {
    vertical-align: middle !important;
    font-size: 0.6em;
    text-align: right;
}

.table__transformWidgetContainer {
    position:absolute;
    border:1px solid #CDCDCD;
    background-color: white;
    padding:5px;
    box-shadow: 3px 3px 2px lightgray;
    width: 70px;
    display: flex;
    justify-content: space-around;
}

.table__sortWidget {
    z-index: 999;
    position:absolute;
    border:1px solid #CDCDCD;
    background-color: white;
    padding:5px;
    box-shadow: 3px 3px 2px lightgray;
    display: flex;
    top: 5px;
    right: 5px;
}

.table__sortablePlaceholder {
  height: 1em;
  background-color: yellow;
  width: 50px;
}

td {
    text-align: right;
}