/*TOP LEVEL*/

/*contains pivot app*/
body {
	font-family: "Segoe UI", "Helvetica", sans-serif;
}

/*Contains entire pivot app*/
#pivotDiv {
    margin: 10px;
	display: flex;
	flex-direction: column;
}

/*Contains query UI and pivot table (but not query hide button)*/
#pivotAppContainer {
	display: flex;
}

#pivotAppContainer > div {
	border: 1px solid #CDCDCD;
}

#selectionPaneShowHide {
    margin-top: 5px;
	width: 250px;
	text-align: center;
    padding: 3px;
	border: 1px solid #CDCDCD;
}


/*Query interface*/
#pivotQuery {
	display: flex;
	flex-direction:column;
	width: 250px;
	justify-content: space-between;
	min-height: 450px;
}

#queryTableFieldSelector {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

#queryTableFieldSelector>div {
	margin-bottom: 7px;
}

.headerText {
	font-variant: small-caps;
}

.indent {
	margin-left: 10px;
}

#queryTableFieldSorter {
	display: flex;
	flex-direction: column;
	width: 250px;
}


#fieldSorter {
	display:flex;
	flex-direction: column;
}

.sorterRow {
	display: flex;
}

.selectionBucket {
	padding: 10px;
	width: 25%;
	flex: 1 1 auto;
	min-height: 75px;
}


/*INDIVIDUAL FIELD ITEMS*/

.additionalUI {
	font-size: 0.75em;
}

.sortableItemName {
	width: 40%;
}

input[type=text] {
	line-height: 10px;
	width: 80px;
}

.sortableItem {
	cursor: move;
	display: flex;
	align-items: center;
    padding-left: 5px;
	justify-content: space-between;
}

ul {
	list-style: none;
	padding-left: 0px;
}

.placeholder {
	background-color: #CDCDCD;
	height: 1.5em;
	margin-bottom: 5px;
}


/*SORTABLE LISTS*/

.sortableList {
    padding: 5px 0px;
	min-height: 1.5em;
	margin-bottom: 0px;
}

/*DEMO STUFF */
.preambleShowHide {
    max-width: 900px;
	width: 90%;
	margin: auto;
}
#preamble {
    max-width: 900px;
	width: 90%;
	padding: 0px 30px;
	border: 2px solid #cdcdcd;
	margin: 0px auto;
}
