.pivotDiv {
    margin: 10px;
    font-family: "Segoe UI", "Helvetica", sans-serif;
}

.queryBuilder {
    display: flex;
    flex-direction: column;
    height: 600px;
}

.queryBuilder__listOfAllFields {
    overflow: auto;
    height: 500px;
}

.queryBuilder__horizContainer {
    display: flex;
}

.queryBuilder__child {
    padding: 10px;
    margin-right: 5px;
}

.queryBuilder__child--fields {
    min-width: 260px;
}

.queryBuilder__spacer {
    margin-top: 10px;
    border-top: 1px dashed #CDCDCD;
}

.queryBuilder__spinner {
    margin-left: 5px;
    animation-duration: 10s;
    animation-name: spinnerLoading;
    color: orangered;
}

@keyframes spinnerLoading {
    from {
        color: rgb(230, 238, 238);
    }

    to {
        color: orangered;
    }
}

.queryBuilder--itemMargin {
    margin-top: 10px;
}


.queryBuilder--indent {
    margin-left: 10px;
}

.queryBuilder--headerText {
    font-variant: small-caps;
}

.pvtTable {
    margin-top: 10px;
}

.sortingBucket {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.sortingBucket__fieldContainer {
    margin-bottom: 10px;
}

.sortingBucket__fieldContainer > ul {
    margin-left: 15px;
}

.sortingBucket--bold {
    font-weight: bold;
}


ul {
    list-style: none;
    padding-left: 0px;
}

.sortableList {
    padding: 5px 0px;
    min-height: 1.5em;
    margin-bottom: 0px;
}

.selectionPaneShowHide {
    width: 260px;
    text-align: center;
    border: 1px solid #CDCDCD;
    padding: 3px;
    margin-left: 10px;
}

.pivot__errorBanner {
    color: orangered;
    margin-bottom: 30px;
}







/*INDIVIDUAL FIELD ITEMS*/

.additionalUI {
    margin-left: 5px;
    font-size: 0.75em;
}

input[type=text] {
    line-height: 10px;
    width: 80px;
}

/*.sortableItem {
    cursor: move;
    display: flex;
    align-items: center;
    padding-left: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}*/

.context {
    position:absolute;
      align-items: flex-start;
}

.context__background {
    z-index:1000;
    border:1px solid #CDCDCD;
    background-color: white;
    padding:5px;
    box-shadow: 3px 3px 2px #CDCDCD;
}

.context__sideby {
  display: flex;
  width: 100px;
}

.context__sideby > div {
  margin-right: 10px;
}

.context__aggregatorItem {
    border-radius: 2px;
    padding: 2px;
}

.context__aggregatorItem--selected {
    background-color: #CDCDCD;
}

.context__annotation {
    font-size: 0.75em;
    font-style: italic;
}

/*filter context menu*/
.context__filter {
  padding:0px;
  display:inline-flex;
  flex-direction: column;
}

.context__filterInput {
  align-items: center;
  display:flex;
  padding: 5px;
}

.context__filterInput > span {
  margin: 0px 3px;
}

input[type=text] {
  width: 70px;
}

button {
  margin: 3px;
}

.errorBanner {
    color: orangered;
    margin-bottom: 30px;
}

.fieldReceiver {
    min-height: 1.5em;
}